#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-container {
 
  /* background-color: red; */
}
/* .tale {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 3px solid black;
} */

.header { 
  height: 20vh;
}
.app {
  /* background-color: red; */
  text-align: center;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test {
  height:fit-content;
}

.app {
  text-align: center;
}

.tiles-container {
  margin-top: "10px";
  padding-top:"10px";
  display: grid;
  grid-template-columns: repeat(8, 80px); /* Adjust column count and size as needed */
  grid-template-rows: repeat(7, 90px); /* Adjust row count and size as needed */
  gap: 0px; /* Adjust gap between tiles as needed */
  /* border: 1px solid #ccc; */
  transform: skewX(-20deg); 
}

.tile {
  /* background-color: #007bff; */
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
  /* height: 270px !important; */
  /* transform: skewX(-20deg); */
}
.bin {
  background-color: purple;
  width: 40%;
  height: 55%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.bin > p {
  transform: skewX(20deg); 
}
.text_tile {
  color:rgb(108, 108, 108);
  font-size: 10px;
  transform: skewX(20deg); 
}